.projectContainer {
  .title {
    font-size: 24px;
  }
  .projects {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-align: center;
    .card {
      transition: all 200ms ease;
      box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
      border-radius: 20px;
      .projectTitle {
        position: relative;
        font-size: 22px;
        font-weight: bold;
        padding: 5px;
        svg {
          position: absolute;
          right: 0;
          font-size: 16px;
          margin: 10px;
        }
      }
      .projectCard {
        cursor: pointer;
        .imgContainer {
          height: 300px;
          width: 500px;
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
      }
      .projectDesc {
        position: relative;
        padding: 14px;
        font-weight: bold;
        font-size: 16px;
        color: white;
        svg {
          position: absolute;
          right: 0;
          font-size: 18px;
          margin: 5px 10px;
          cursor: pointer;
        }
      }
      // modal
      .modalContainer {
        position: absolute;
        inset: 0;
        background: #333;
        color: white;
        z-index: 999;
        width: 600px;
        height: 300px;
        line-height: 26px;
        margin: auto;
        border-radius: 20px;
        .modal {
          .closeIcon {
            display: flex;
            justify-content: flex-end;
            margin: 10px;
            font-size: 30px;
            svg {
              cursor: pointer;
            }
          }
          .text {
            position: absolute;
            inset: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: none;
            font-size: 16px;
            padding: 10px;
            z-index: -99;
          }
        }
      }
      // modal end
    }
  }
}

@media screen and (max-width: 629px) {
  .projectContainer {
    .projects {
      display: grid;
      grid-template-columns: 1fr;
      gap: 50px;
      text-align: center;
      .card {
        position: relative;
        width: 80%;
        margin: 0 auto;
        .projectTitle {
          font-size: 16px;
          padding: 5px;
          svg {
            font-size: 12px;
            margin: 5px;
          }
        }
        .projectCard {
          .imgContainer {
            height: 200px;
            width: 100%;
            object-fit: cover;
            margin: 0px 0;
            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }
        }
        .projectDesc {
          padding: 14px;
          font-size: 12px;
          svg {
            font-size: 14px;
            margin: 2px 10px 0 0;
          }
        }
        // modal
        .modalContainer {
          position: absolute;
          inset: 0;
          background: #333;
          color: white;
          z-index: 999;
          width: 300px;
          height: 200px;
          margin: auto;
          border-radius: 20px;
          .modal {
            .closeIcon {
              display: flex;
              justify-content: flex-end;
              margin: 10px;
              font-size: 18px;
              svg {
                cursor: pointer;
              }
            }
            .text {
              position: absolute;
              inset: 0;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 12px;
              line-height: 15px;
              z-index: -99;
            }
          }
        }
        // modal end
      }
      .card:hover {
        background: #33333354;
        transform: scale(1);
      }
    }
  }
}

@media (min-width: 630px) and (max-width: 900px) {
  .projectContainer {
    .projects {
      display: grid;
      grid-template-columns: 1fr;
      gap: 50px;
      text-align: center;
      .card {
        position: relative;
        width: 60%;
        margin: 0 auto;
        .projectTitle {
          font-size: 20px;
          padding: 5px;
          svg {
            font-size: 16px;
            margin: 5px;
          }
        }
        .projectCard {
          .imgContainer {
            height: 300px;
            width: 100%;
            object-fit: cover;
            margin: 0px 0;
            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }
        }
        .projectDesc {
          padding: 14px;
          font-size: 16px;
          svg {
            font-size: 16px;
            margin: 5px;
          }
        }
        // modal
        .modalContainer {
          position: absolute;
          inset: 0;
          background: #333;
          color: white;
          z-index: 999;
          width: 350px;
          height: 300px;
          margin: auto;
          border-radius: 20px;
          .modal {
            .closeIcon {
              display: flex;
              justify-content: flex-end;
              margin: 10px;
              font-size: 22px;
              svg {
                cursor: pointer;
              }
            }
            .text {
              position: absolute;
              inset: 0;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 14px;
              line-height: 18px;
              z-index: -99;
            }
          }
        }
        // modal end
      }
      .card:hover {
        background: #33333354;
        transform: scale(1);
      }
    }
  }
}
