.navbar {
  height: 100px;
  .wrapper {
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
    .social {
      .linkedinLink {
        img {
          transition: all 200ms ease;
          width: 50px;
          height: 50px;
          object-fit: cover;
        }
      }
      img:hover {
        transform: scale(0.97);
        opacity: 0.7;
      }
    }
    .contactButton {
      button {
        padding: 10px 30px;
        margin: 20px;
        border: 1px solid white;
        border-radius: 10px;
        background-color: transparent;
        color: white;
        cursor: pointer;
        font-weight: bold;
        font-size: 14px;
        transition: 0.3s ease;
      }

      button:hover {
        background-color: white;
        color: black;
      }
    }

    span {
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 426px) {
  .navbar {
    height: 100px;

    .wrapper {
      max-width: 1366px;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: end;
      height: 100%;
      .social {
        .linkedinLink {
          img {
            transition: all 200ms ease;
            width: 50px;
            height: 50px;
            object-fit: cover;
          }
        }
        img:hover {
          transform: scale(0.97);
          opacity: 0.7;
        }
      }
      .contactButton {
        button {
          padding: 10px;
          font-size: 12px;
          margin: 10px;
        }
      }
      span {
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 637px) {
  .navbar {
    .wrapper {
      display: flex;
      align-items: center;
      justify-content: end;
      flex-wrap: wrap;
      .contactButton {
        button {
          display: none;
        }
      }
    }
  }
}
